<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="MenuTreeController">
  <div ui-tree>

    <div class="row">
      <div class="col-lg-8">
        <h3>Menu Builder
        <a href="" class="btn btn-default btn-danger pull-right" ng-click="getFromServer()">Get From Server</a>
        <a href="" class="btn btn-default btn-danger pull-right" ng-click="upload()">Upload</a>
        <a href="" class="btn btn-default btn-warning pull-right" ng-click="saveLocal()">Save Local</a>
        <a href="" class="btn btn-default btn-warning pull-right" ng-click="getLocal()">Get from Local</a>
        <a href="" class="btn btn-default btn-danger pull-right" ng-click="clear()">Clear</a>
        <a href="" class="btn btn-default pull-right" ng-click="newCategory()">New Category</a>
      </h3>
        <!-- Nested node template -->
        <script type="text/ng-template" id="items_renderer.html">
          <div ui-tree-handle class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" ng-if="item.item_options && item.item_options.length > 0" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>

            <span ng-show="!editingName" ng-click="editingName = true">{{item.name}}</span>
            <input ng-show="editingName" type="text" ng-model="item.name" placeholder="item.name"/>
            <button ng-show="editingName" ng-click="editingName = false" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>

            <span ng-show="!editingPrice" ng-click="editingPrice = true" style="margin-left: 10px;"> {{item.price | currency}}</span>
            <input ng-show="editingPrice" type="text" ng-model="item.price" placeholder="item.price"/>
            <button ng-show="editingPrice" ng-click="editingPrice = false" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>

            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
          </div>
          <ol ui-tree-nodes="" ng-model="item.item_options" ng-class="{hidden: collapsed}">
            <li ng-repeat="option in item.item_options" ui-tree-node data-collapsed="true">
              <div ui-tree-handle>

              <span ng-show="!editingName" ng-click="editingName = true">{{option.name}}</span>
              <input ng-show="editingName" type="text" ng-model="option.name" placeholder="option.name"/>
              <button ng-show="editingName" ng-click="editingName = false" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>

              <span ng-show="!editingPrice"  ng-click="editingPrice = true" style="margin-left: 10px;">{{option.price | currency }}</span>
              <input ng-show="editingPrice" type="text" ng-model="item.price" placeholder="item.price"/>
              <button ng-show="editingPrice" ng-click="editingPrice = false" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>

              <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            </li>
          </ol>
        </script>

        <script type="text/ng-template" id="categories_renderer.html">
          <div ui-tree-handle class="tree-node tree-node-content" >
            <a class="btn btn-success btn-xs" ng-if="category.items && category.items.length > 0" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>

            <span ng-show="!editing" ng-click="editing = true">{{category.name}}</span>
            <input ng-show="editing" type="text" ng-model="category.name" placeholder="category.name"/>
            <button ng-show="editing" ng-click="editing = false" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>

            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
          </div>
          <ol ui-tree-nodes="" ng-model="category.items" ng-class="{hidden: collapsed}">
            <li ng-repeat="item in category.items" ui-tree-node ng-include="'items_renderer.html'" data-collapsed="true">
            </li>
          </ol>
        </script>

        <div ui-tree id="tree-root" data-drag-delay="500">
          <ol ui-tree-nodes="" ng-model="menu.categories" >
            <li ng-repeat="category in menu.categories" ui-tree-node ng-include="'categories_renderer.html'" data-collapsed="true"></li>
          </ol>
        </div>
      </div>

      <div class="col-lg-4">
        <h3>Data binding</h3>
        <div class="info">
            {{info}}
        </div>
        <pre class="code">{{ menu.categories | json }}</pre>
      </div>

    </div>
  </div>
</div>
